* {
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
}

#content {
  min-height: 100vh;
  background-color: aqua;
  display: grid;
  grid-template-rows: 1fr 8fr;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  text-align: center;
  padding: 2rem;
}

#grid-container {
  display: grid;
  background-color: bisque;
}

.button-container {
  display: flex;
  gap: 1em;
}

header button {
  align-self: flex-end;
}

#background {
  background-color: rgba(100, 100, 100, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
}

#popup-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#popup {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem;
  height: 15em;
  width: 15em;
  border-radius: 25px;
  background-color: aliceblue;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.589);
  z-index: 2;
}
