* {
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
}

#content {
  min-height: 100vh;
  background-color: aqua;
  display: grid;
  grid-template-rows: 1fr 8fr;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  text-align: center;
  padding: 2rem;
}

#todos-container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  padding: 2rem;
  gap: 0.1rem;
  background-color: bisque;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
}

.button-container {
  display: flex;
  gap: 1em;
}

.todo-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  min-width: 80vw;
  min-height: 1em;
  max-height: 15em;
  background-color: aliceblue;
  text-align: center;
}

#popup p {
  font-size: 12px;
  color: rgb(39, 39, 39);
}

header button {
  align-self: flex-end;
}

#background {
  background-color: rgba(100, 100, 100, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
}

#popup-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#popup {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  padding: 3rem;
  padding-top: 1rem;
  width: 15em;
  border-radius: 25px;
  background-color: aliceblue;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.589);
  z-index: 2;
  gap: 4px;
}

#popup h1 {
  font-size: 18px;
}

.project-card {
  padding: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: aquamarine;
  border-radius: 5px;
  width: 90%;
  transition: all 320ms ease-in-out;
}

.project-card.selected {
  margin-left: 0.5em;
  background-color: aqua;
}

.project-card:hover {
  margin-left: 0.5em;
  background-color: chartreuse;
}

#popup form {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr;
  grid-template-rows: 1px, repeat(10, 1fr);
}

#close-button {
  position: relative;
  width: 1em;
  top: 1.2rem;
  right: -100%;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

#submit-button {
  width: 5rem;
  padding: 0.3rem;
}
